<ui:composition template="/template/design.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">
		<h:form>
			<p:breadCrumb styleClass="ui-state-default">
				<p:menuitem value="Mein Dashboard" outcome="/secure/home.xhtml" />
				<p:menuitem value="Projektidee-Übersicht"
					outcome="/secure/projectidea-overview.xhtml" />
			</p:breadCrumb>
			<div>
				<p:tabView activeIndex="#{editProjectIdeaPresenter.activeTabIndex}">

					<p:messages id="msgs" />
					<p:growl id="growlEditIdea" for="growlEditIdea"
					showDetail="true" sticky="true" />

					<p:tab title="Übersicht">
						<p:panel id="panelOverview"
							header="Projektantrag (#{editProjectIdeaPresenter.editableProjectIdea.id}): #{editProjectIdeaPresenter.editableProjectIdea.name}">
							<p:accordionPanel multiple="true">
								<p:tab title="Ausgangssituation">
									<h:outputText
										value="#{editProjectIdeaPresenter.editableProjectIdea.currentSituation}" />
								</p:tab>
								<p:tab title="Zielsetzung">
									<h:outputText
										value="#{editProjectIdeaPresenter.editableProjectIdea.objective}" />
								</p:tab>
								<p:tab title="Nutzen">
									<h:outputText
										value="#{editProjectIdeaPresenter.editableProjectIdea.benefit}" />
								</p:tab>
							</p:accordionPanel>

							<p:panelGrid columns="2" style="width:100%"
								styleClass="borderless-grid">

								<p:outputLabel for="creatorOverview" value="Ersteller:"
									styleClass="bold" />
								<h:outputText id="creatorOverview"
									value="#{editProjectIdeaPresenter.editableProjectIdea.creator.firstname} #{editProjectIdeaPresenter.editableProjectIdea.creator.lastname}" />

								<p:outputLabel for="createdateOverview" value="Erstelldatum:"
									styleClass="bold" />
								<h:outputText id="createdateOverview"
									value="#{editProjectIdeaPresenter.editableProjectIdea.createdate}">
									<f:convertDateTime pattern="dd.MM.yyyy" />
								</h:outputText>

								<p:outputLabel for="departmentOverview" value="Kostenstelle:"
									styleClass="bold" />
								<h:outputText id="departmentOverview"
									value="#{editProjectIdeaPresenter.editableProjectIdea.department.fullname}" />

								<p:outputLabel for="locationOverview" value="Standort:"
									styleClass="bold" />
								<h:outputText id="locationOverview"
									value="#{editProjectIdeaPresenter.editableProjectIdea.location.city}" />

								<p:outputLabel for="extentOverview" value="Projektausmaß:"
									styleClass="bold" />
								<h:outputText id="extentOverview"
									value="#{editProjectIdeaPresenter.extent[editProjectIdeaPresenter.editableProjectIdea.extent]}" />

							</p:panelGrid>
						</p:panel>
					</p:tab>

					<p:tab title="Editieren"
						rendered="#{loginBean.user.userId.equals(editProjectIdeaPresenter.editableProjectIdea.creator.userId)}">
						<p:panel id="panel"
							header="Projektidee #{editProjectIdeaPresenter.editableProjectIdea.name} bearbeiten">
							<p:messages id="msgsEdit" />
							<h:panelGrid columns="2" cellpadding="5">
								<p:outputLabel for="ideaName" value="Projektidee:" />
								<p:inputText id="ideaName" styleClass="inputFields"
									value="#{editProjectIdeaPresenter.editableProjectIdea.name}"
									required="true">
									<f:validateLength minimum="5" />
								</p:inputText>

								<p:outputLabel for="currentSituation" value="Ausgangssituation:" />
								<p:inputTextarea id="currentSituation"
									value="#{editProjectIdeaPresenter.editableProjectIdea.currentSituation}"
									required="true" rows="10" cols="100" />

								<p:outputLabel for="objective" value="Zielsetzung:" />
								<p:inputTextarea id="objective"
									value="#{editProjectIdeaPresenter.editableProjectIdea.objective}"
									required="true" rows="10" cols="100" />

								<p:outputLabel for="benefit" value="Nutzen:" />
								<p:inputTextarea id="benefit"
									value="#{editProjectIdeaPresenter.editableProjectIdea.benefit}"
									required="true" rows="10" cols="100" />

								<p:outputLabel for="location" value="Standort:" />
								<p:selectOneMenu id="location" styleClass="inputFields"
									value="#{editProjectIdeaPresenter.editableProjectIdea.location}"
									converter="locationConverter" required="true">
									<f:selectItem itemLabel="Standort auswählen"
										itemValue="#{null}" noSelectionOption="true" />
									<f:selectItems value="#{editProjectIdeaPresenter.locationList}"
										var="location" itemValue="#{location}"
										itemLabel="#{location.city}" />
								</p:selectOneMenu>

								<p:outputLabel for="costUnit" value="Kostenstelle:" />
								<p:selectOneMenu id="costUnit" styleClass="inputFields"
									value="#{editProjectIdeaPresenter.editableProjectIdea.department}"
									converter="departmentConverter" required="true">
									<f:selectItem itemLabel="Kostenstelle auswählen"
										itemValue="#{null}" noSelectionOption="true" />
									<f:selectItems value="#{editProjectIdeaPresenter.costUnitList}"
										var="costUnit" itemValue="#{costUnit}"
										itemLabel="#{costUnit.fullname}" />
								</p:selectOneMenu>

								<p:outputLabel for="extent" value="Projektausmaß:" />
								<p:selectOneMenu id="extent" styleClass="inputFields"
									value="#{editProjectIdeaPresenter.editableProjectIdea.extent}"
									required="true">
									<f:selectItem itemLabel="Projektausmaß auswählen"
										itemValue="#{null}" noSelectionOption="true" />
									<f:selectItems value="#{editProjectIdeaPresenter.extent}"
										var="extent" itemLabel="#{extent.name()}"
										itemValue="#{extent.value}" />
								</p:selectOneMenu>

							</h:panelGrid>

							<p:commandButton value="Änderungen speichern" update="panel"
								actionListener="#{editProjectIdeaPresenter.updateIdea}"
								icon="ui-icon-check">
								<f:ajax onerror="window.scrollTo(0, 0);" />
							</p:commandButton>
							<p:button value="Abbrechen" outcome="projectidea-overview" />
						</p:panel>
					</p:tab>
				</p:tabView>
			</div>
		</h:form>
	</ui:define>

</ui:composition>