<ui:composition template="/template/design.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">
		<h:form>
			<p:breadCrumb styleClass="ui-state-default">
				<p:menuitem value="Mein Dashboard" outcome="/secure/home.xhtml" />
				<p:menuitem value="Projektidee einreichen" outcome="create-idea" />
			</p:breadCrumb>
			<p:panel id="panel" header="Neue Projektidee">
				<p:messages id="msgs" />
				<p:growl id="growlCreateIdea" for="growlCreateIdea"
					showDetail="true" sticky="true" />
				<h:panelGrid columns="2" cellpadding="5">
					<p:outputLabel for="ideaName" value="Projektidee:" />
					<p:inputText id="ideaName" styleClass="inputFields"
						value="#{createIdeaPresenter.projectIdea.name}" required="true">
						<f:validateLength minimum="5" />
					</p:inputText>

					<p:outputLabel for="currentSituation" value="Ausgangssituation:" />
					<p:inputTextarea id="currentSituation"
						value="#{createIdeaPresenter.projectIdea.currentSituation}"
						required="true" rows="10" cols="100" />

					<p:outputLabel for="objective" value="Zielsetzung:" />
					<p:inputTextarea id="objective"
						value="#{createIdeaPresenter.projectIdea.objective}"
						required="true" rows="10" cols="100" />

					<p:outputLabel for="benefit" value="Nutzen:" />
					<p:inputTextarea id="benefit"
						value="#{createIdeaPresenter.projectIdea.benefit}" required="true"
						rows="10" cols="100" />

					<p:outputLabel for="location" value="Standort:" />
					<p:selectOneMenu id="location" styleClass="inputFields"
						value="#{createIdeaPresenter.projectIdea.location}"
						converter="locationConverter" required="true">
						<f:selectItem itemLabel="Standort auswählen" itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItems value="#{createIdeaPresenter.locationList}"
							var="location" itemValue="#{location}"
							itemLabel="#{location.city}" />
					</p:selectOneMenu>

					<p:outputLabel for="costUnit" value="Kostenstelle:" />
					<p:selectOneMenu id="costUnit" styleClass="inputFields"
						value="#{createIdeaPresenter.projectIdea.department}"
						converter="departmentConverter" required="true">
						<f:selectItem itemLabel="Kostenstelle auswählen"
							itemValue="#{null}" noSelectionOption="true" />
						<f:selectItems value="#{createIdeaPresenter.costUnitList}"
							var="costUnit" itemValue="#{costUnit}"
							itemLabel="#{costUnit.fullname}" />
					</p:selectOneMenu>

					<p:outputLabel for="extent" value="Projektausmaß:" />
					<p:selectOneMenu id="extent" styleClass="inputFields"
						value="#{createIdeaPresenter.projectIdea.extent}" required="true">
						<f:selectItem itemLabel="Projektausmaß auswählen"
							itemValue="#{null}" noSelectionOption="true" required="true" />
						<f:selectItems value="#{createIdeaPresenter.extentValues}"
							var="extent" itemLabel="#{extent.name()}"
							itemValue="#{extent.value}" />
					</p:selectOneMenu>

				</h:panelGrid>

				<p:commandButton value="Idee einreichen" update="panel"
					actionListener="#{createIdeaPresenter.saveIdea}"
					icon="ui-icon-check">
					<f:ajax onerror="window.scrollTo(0, 0);" />
				</p:commandButton>
				<p:button value="Abbrechen" outcome="home" />
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>