<ui:composition template="/template/design.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<p:panelGrid columns="1" styleClass="noBorder" style="float:right"
					rendered="#{!loginBean.user.role.name().equals('EMPLOYEE')}">
					<p:panel layout="grid" id="chart" header="Freie Projektkapazitäten"
						styleClass="noBorder" toggleable="true">
						<h:form>
							<p:poll interval="50" update="votes" />
							<p:chart id="votes" type="pie"
								model="#{homePresenter.pieChartModelCapacity}"
								style="width:370px;height:280px" />
						</h:form>
					</p:panel>
					<p:panel layout="grid" id="chart2" header="Risikoverteilung"
						styleClass="noBorder" toggleable="true">
						<h:form>
							<p:poll interval="50" update="votes2" />
							<p:chart id="votes2" type="pie"
								model="#{homePresenter.pieChartModelRisk}"
								style="width:370px;height:280px"
								rendered="#{!loginBean.user.role.name().equals('EMPLOYEE')}" />
						</h:form>
					</p:panel>
				</p:panelGrid>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<p:panel id="dashBoard" header="Mein Dashboard"
					styleClass="noBorder">
					<h:form>
						<p:panelGrid columns="3"
							columnClasses="ui-grid-col-6, ui-grid-col-4, ui-grid-col-6"
							layout="grid" styleClass="ui-panelgrid-blank"
							rendered="#{!loginBean.user.role.name().equals('EMPLOYEE')}">
							<h:link outcome="admin/create-project" class="noUnderline">
								<p:panel header="Projekt einreichen"
									styleClass="dashBoardWidget">
									<p:graphicImage url="/resources/images/createProject.svg" />
								</p:panel>
							</h:link>
							<div></div>
							<h:link outcome="admin/project-overview" class="noUnderline">
								<p:panel header="Projekte anzeigen" styleClass="dashBoardWidget">
									<p:graphicImage url="/resources/images/projectOverview.svg"
										/>
								</p:panel>
							</h:link>
						</p:panelGrid>
						<p:panelGrid columns="3"
							columnClasses="ui-grid-col-6,ui-grid-col-4, ui-grid-col-6"
							layout="grid" styleClass="ui-panelgrid-blank">
							<h:link outcome="create-idea" class="noUnderline">
								<p:panel header="Projektidee einreichen"
									styleClass="dashBoardWidget">
									<p:graphicImage url="/resources/images/createProjectIdea.svg" />
								</p:panel>
							</h:link>
							<div></div>
							<h:link outcome="projectidea-overview" class="noUnderline">
								<p:panel header="Projektideen anzeigen"
									styleClass="dashBoardWidget">
									<p:graphicImage url="/resources/images/projectIdeaOverview.svg" />
								</p:panel>
							</h:link>
						</p:panelGrid>
						<p:panelGrid columns="3"
							columnClasses="ui-grid-col-6,ui-grid-col-4, ui-grid-col-6"
							layout="grid" styleClass="ui-panelgrid-blank"
							rendered="#{loginBean.user.role.name().equals('MANAGER')}">
							<div></div>
							<h:link outcome="admin/priority-overview" class="noUnderline">
								<p:panel header="Projekte priorisieren"
									styleClass="dashBoardWidget">
									<p:graphicImage url="/resources/images/projectPriority.svg" width="120px" aspectRatio="true"/>
								</p:panel>
							</h:link>
							<div></div>
						</p:panelGrid>
					</h:form>
				</p:panel>
			</div>
			<div class="ui-g-12 ui-lg-4">
				<p:panelGrid columns="1" styleClass="noBorder"
					rendered="#{loginBean.user.role.name().equals('MANAGER')}">
					<p:panel layout="block" id="chart3" header="Statusübersicht"
						styleClass="noBorder" toggleable="true">
						<h:form>
							<p:poll interval="50" update="votes3" />
							<p:chart id="votes3" type="pie"
								model="#{homePresenter.pieChartModelState}"
								style="width:370px;height:280px" />
						</h:form>
					</p:panel>
					<p:panel layout="block" id="chart4" header="Standortübersicht"
						styleClass="noBorder" toggleable="true">
						<h:form>
							<p:poll interval="50" update="votes4" />
							<p:chart id="votes4" type="pie"
								model="#{homePresenter.pieChartModelLocation}"
								style="width:370px;height:280px" />
						</h:form>
					</p:panel>
				</p:panelGrid>
			</div>
		</div>

	</ui:define>
</ui:composition>