<ui:composition template="/template/design.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:breadCrumb styleClass="ui-state-default">
				<p:menuitem value="Mein Dashboard" outcome="/secure/home.xhtml" />
				<p:menuitem value="Projektidee Übersicht" outcome="projectidea-overview" />
			</p:breadCrumb>
			<p:dataTable id="projectIdeas" var="projectIdea"
				value="#{projectIdeaOverviewPresenter.projectIdeas}"
				sortMode="multiple" resizableColumns="true" scrollable="true"
				tableStyle="width:auto table-layout:fixed" 
				widgetVar="projectIdeasTable" selectionMode="single"
				selection="#{projectIdeaOverviewPresenter.selectedProjectIdea}"
				rowKey="#{projectIdea.id}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
				emptyMessage="Keine Projektidee zu gegebenen Kriterien gefunden."
				reflow="true" rows="10" rowsPerPageTemplate="10,50,100" paginator="true">
<f:facet name="{Exporters}">
		
            <h:commandLink>
                <p:graphicImage name="images/pdf.png" width="24"/>
                <p:dataExporter type="pdf" target="projectIdeas" fileName="ideas" encoding="cp1252"  preProcessor="#{exporter.preProcessPDF}"/>
            </h:commandLink>
</f:facet>
				<f:facet name="header" >
				<h:panelGroup layout="block" id="tblHeader">
					<p:button id="details" icon="ui-icon-search"
						style="width:35px;height:30px;float:left"
						outcome="change-project-idea"
						disabled="#{projectIdeaOverviewPresenter.disabled}">
						<f:param name="id"
							value="#{projectIdeaOverviewPresenter.selectedProjectIdea.id}" />
					</p:button>
					<p:tooltip id="toolTipDetails" for="details" value="Detailansicht"
						position="top" />

					<p:button id="change" icon="ui-icon-pencil"
						style="width:35px;height:30px;float:left"
						outcome="change-project-idea"
						rendered="#{loginBean.user.userId.equals(projectIdeaOverviewPresenter.selectedProjectIdea.creator.userId)}"
						disabled="#{projectIdeaOverviewPresenter.disabled}">
						<f:param name="id"
							value="#{projectIdeaOverviewPresenter.selectedProjectIdea.id}" />
						<f:param name="action" value="edit" />
					</p:button>
					<p:tooltip id="toolTipChange" for="change" value="Bearbeiten"
						position="top" />

					<p:button id="changeintoProject" icon="ui-icon-check"
						style="width:35px;height:30px;float:left"
						rendered="#{!loginBean.user.role.name().equals('EMPLOYEE')}"
						disabled="#{projectIdeaOverviewPresenter.disabled}"
						outcome="admin/create-project">
						<f:param name="id"
							value="#{projectIdeaOverviewPresenter.selectedProjectIdea.id}" />
					</p:button>
					<p:tooltip id="toolTipApprove" for="changeintoProject"
						value="In Projektantrag umwandeln" position="top" />

					<p:commandButton id="infoBox" icon="ui-icon-notice"
						style="width:35px;height:30px;float:left" type="button"
						onclick="PF('dlg1').show();" />
					<p:tooltip id="toolTipInfoBox" for="infoBox" value="InfoBox"
						position="top" />

					<p:dialog header="Info" widgetVar="dlg1" modal="true" height="100">
						<h:outputText
							value="Zum Anzeigen der Projekte klicken Sie bitte auf das gewünschte Projekt." />
					</p:dialog>
						
	        		Übersicht Projektidee
	        		<p:commandButton id="toggler" type="button"
						value="Spalten hinzufügen" icon="ui-icon-triangle-1-s" />
					<p:columnToggler datasource="projectIdeas" trigger="toggler">
						<p:ajax event="toggle"
							listener="#{projectIdeaOverviewPresenter.onToggle}" />
					</p:columnToggler>
				 </h:panelGroup>
				</f:facet>
				<p:ajax event="rowSelect" update="form:projectIdeas:tblHeader"
					listener="#{projectIdeaOverviewPresenter.onRowClickSelect}" />
				

				<p:column filterBy="#{projectIdea.id}" headerText="ID"
					visible="#{projectIdeaOverviewPresenter.showColumn[0]}"
					sortBy="#{projectIdea.id}" filterMatchMode="exact">
					<h:outputText value="#{projectIdea.id}" />
				</p:column>

				<p:column filterBy="#{projectIdea.name}" headerText="Name"
					visible="#{projectIdeaOverviewPresenter.showColumn[1]}"
					sortBy="#{projectIdea.name}" filterMatchMode="contains">
					<h:outputText value="#{projectIdea.name}" />
				</p:column>

				<p:column visible="#{projectIdeaOverviewPresenter.showColumn[2]}"
					filterBy="#{projectIdea.creator.firstname} #{projectIdea.creator.lastname}"
					headerText="Ersteller"
					sortBy="#{projectIdea.creator.firstname} #{projectIdea.creator.lastname}"
					filterMatchMode="contains">
					<h:outputText
						value="#{projectIdea.creator.firstname} #{projectIdea.creator.lastname}" />
				</p:column>

				<p:column filterBy="#{projectIdea.currentSituation}" exportable="false"
					visible="#{projectIdeaOverviewPresenter.showColumn[3]}"
					headerText="Ausgangssituation"
					sortBy="#{projectIdea.currentSituation}" filterMatchMode="contains">
					<h:outputText value="#{projectIdea.currentSituation}" />
				</p:column>

				<p:column filterBy="#{projectIdea.getWorkFlowStateAsEnum(projectIdea.workflowState).name}"
					visible="#{projectIdeaOverviewPresenter.showColumn[4]}"
					headerText="Status" sortBy="projectIdea.workflowState" 
					filterMatchMode="contains">
					<h:outputText
						value="#{projectIdeaOverviewPresenter.state[projectIdea.workflowState].name}" />
				</p:column>

				<p:column filterBy="#{projectIdea.createDateAsString}" filterMatchMode="contains"
					visible="#{projectIdeaOverviewPresenter.showColumn[5]}" exportable="false"
					headerText="Erstelldatum" sortBy="#{projectIdea.createdate}">
					<h:outputText value="#{projectIdea.createdate}">
						<f:convertDateTime pattern="dd.MM.yyyy" />
					</h:outputText>
				</p:column>

				<p:column filterBy="#{projectIdea.objective}" headerText="Ziel" exportable="false"
					visible="#{projectIdeaOverviewPresenter.showColumn[6]}"
					sortBy="#{projectIdea.objective}" filterMatchMode="contains">
					<h:outputText value="#{projectIdea.objective}" />
				</p:column>

				<p:column filterBy="#{projectIdea.benefit}" headerText="Nutzen" exportable="false"
					visible="#{projectIdeaOverviewPresenter.showColumn[7]}"
					sortBy="#{projectIdea.benefit}" filterMatchMode="contains">
					<h:outputText value="#{projectIdea.benefit}" />
				</p:column>

				<p:column filterBy="#{projectIdea.department.fullname}" 
					visible="#{projectIdeaOverviewPresenter.showColumn[8]}"
					headerText="Kostenträger" sortBy="projectIdea.department.fullname"
					filterMatchMode="in">
					<f:facet name="filter">
						<p:selectCheckboxMenu label="Bitte auswählen" filter="true"
							filterMatchMode="contains"
							onchange="PF('projectIdeasTable').filter()"
							panelStyle="width:250px" scrollHeight="100">
							<f:selectItems
								value="#{projectIdeaOverviewPresenter.departments}"
								var="department" itemLabel="#{department.fullname}"
								itemValue="#{department.fullname}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{projectIdea.department.fullname}" />
				</p:column>

				<p:column filterBy="#{projectIdea.location.city}"
					visible="#{projectIdeaOverviewPresenter.showColumn[9]}"
					headerText="Standort" sortBy="projectIdea.location.city"
					filterMatchMode="in">
					<f:facet name="filter">
						<p:selectCheckboxMenu label="Bitte auswählen" filter="true"
							filterMatchMode="contains"
							onchange="PF('projectIdeasTable').filter()"
							panelStyle="width:250px" scrollHeight="100">
							<f:selectItems value="#{projectIdeaOverviewPresenter.locations}"
								var="location" itemLabel="#{location.city}"
								itemValue="#{location.city}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{projectIdea.location.city}" />
				</p:column>

				<p:column filterBy="#{projectIdea.getExtentAsEnum(projectIdea.extent)}" headerText="Ausmaß"
					visible="#{projectIdeaOverviewPresenter.showColumn[10]}" exportable="false"
					sortBy="#{projectIdea.extent}" filterMatchMode="contains">
					<h:outputText
						value="#{projectIdeaOverviewPresenter.extent[projectIdea.extent]}" />
				</p:column>

				<f:facet name="footer">
        			Insgesamt #{fn:length(projectIdeaOverviewPresenter.projectIdeas)} Projektideen eingereicht.
    			</f:facet>
			</p:dataTable>
		</h:form>
	</ui:define>

</ui:composition>