<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="EmulateIE10" />
		</f:facet>
		<link rel="shortcut icon" href="http://icons.iconarchive.com/icons/aha-soft/space/256/supernova-icon.png"/> 
		<script type="text/javascript">
		PrimeFaces.locales['de'] = {
		    closeText: 'Schließen',
		    prevText: 'Zurück',
		    nextText: 'Weiter',
		    monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
		    monthNamesShort: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
		    dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
		    dayNamesShort: ['Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam'],
		    dayNamesMin: ['S', 'M', 'D', 'M ', 'D', 'F ', 'S'],
		    weekHeader: 'Woche',
		    firstDay: 1,
		    isRTL: false,
		    showMonthAfterYear: false,
		    yearSuffix: '',
		    timeOnlyTitle: 'Nur Zeit',
		    timeText: 'Zeit',
		    hourText: 'Stunde',
		    minuteText: 'Minute',
		    secondText: 'Sekunde',
		    currentText: 'Aktuelles Datum',
		    ampm: false,
		    month: 'Monat',
		    week: 'Woche',
		    day: 'Tag',
		    allDayText: 'Ganzer Tag'
		};
	</script>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
		<h:outputStylesheet library="css" name="design.css" />
		<title>Supernova AG - Projekte</title>
	</h:head>
	<h:body styleClass="ui-widget-content noBorder bodySize">
		<div id="wrapper">
			<div id="header">
				<ui:include src="/include/header.xhtml" />
			</div>
			<div id="content">
				<ui:insert name="content" />
			</div>
			<ui:insert name="footer">
				<ui:include src="/include/footer.xhtml" />
			</ui:insert>

		</div>
	</h:body>
</ui:composition>
