<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"> 
	
<div id="footer" class="background" >
<h:outputText value="&#xA9; The Vikings" />
</div>
</ui:composition>