<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<h:form >

		<p:menubar>
			<p:menuitem>
				<h:link outcome="/secure/home.xhmtl">
					<h:graphicImage library="images"
						name="supernova-logo-transparent.png" id="header-img" width="60"
						height="30" />
				</h:link>
			</p:menuitem>

			<p:menuitem
				value="Eingeloggt als: #{loginBean.user.firstname} #{loginBean.user.lastname}"
				rendered="#{loginBean.isLoggedIn()}" disabled="true" />

			<f:facet name="options">
			
				<p:commandButton id="settingsBtn" value="Einstellungen" 
					icon="ui-icon-gear" rendered="#{loginBean.isLoggedIn() and loginBean.user.role.name().equals('MANAGER') and homePresenter.renderSettings()}" action="admin/settings.jsf?faces-redirect=true" />
				<p:commandButton action="#{loginBean.logout()}" value="Logout"
					icon="ui-icon-cancel" rendered="#{loginBean.isLoggedIn()}" />
			</f:facet>
		</p:menubar>
	</h:form>
</ui:composition>
