<ui:composition template="/template/design.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">
		<h:form>
			<p:breadCrumb styleClass="ui-state-default">
				<p:menuitem value="Mein Dashboard" outcome="/secure/home.xhtml" />
				<p:menuitem value="Projekt-Übersicht"
					outcome="/secure/admin/project-overview.xhtml" />
			</p:breadCrumb>
			<div>
				<p:tabView activeIndex="#{editProjectPresenter.activeTabIndex}">


					<p:tab title="Übersicht">
						<p:panel id="panelOverview"
							header="#{editProjectPresenter.editableProject.workflowState == State.requested ? 'Projektantrag' : 'Projekt'} (#{editProjectPresenter.editableProject.id}): #{editProjectPresenter.editableProject.name}">

							<p:accordionPanel multiple="true">
								<p:tab title="Ausgangssituation">
									<h:outputText
										value="#{editProjectPresenter.editableProject.currentSituation}" />
								</p:tab>
								<p:tab title="Zielsetzung">
									<h:outputText
										value="#{editProjectPresenter.editableProject.objective}" />
								</p:tab>
								<p:tab title="Nutzen">
									<h:outputText
										value="#{editProjectPresenter.editableProject.benefit}" />
								</p:tab>
							</p:accordionPanel>
							<p:panelGrid columns="1" cellpadding="0"
								styleClass="borderless-grid" style="width:30%; float:left;">
								<h:panelGroup layout="block" id="riskOverview">
									<p:outputLabel value="Risiko: " for="riskBubble"
										styleClass="bold float-left" />

									<h:panelGroup layout="block" id="riskBubble"
										styleClass="bubble #{editProjectPresenter.getBubbleId(editProjectPresenter.editableProject.risk)}"
										style="margin-left: 45%;">

										<h:panelGroup layout="block" styleClass="insideBubbleValue">
											<h:outputText
												value="#{editProjectPresenter.prio[editProjectPresenter.editableProject.risk].name}" />
										</h:panelGroup>
									</h:panelGroup>
								</h:panelGroup>

								<h:panelGroup layout="block" id="urgencyOverview">
									<p:outputLabel value="Dringlichkeit: " for="urgencyBubble"
										styleClass="bold float-left" />

									<h:panelGroup layout="block" id="urgencyBubble"
										styleClass="bubble #{editProjectPresenter.getBubbleId(editProjectPresenter.editableProject.urgency)}"
										style="margin-left: 45%;">
										<h:panelGroup layout="block" styleClass="insideBubbleValue">
											<h:outputText
												value="#{editProjectPresenter.prio[editProjectPresenter.editableProject.urgency].name}" />
										</h:panelGroup>
									</h:panelGroup>
								</h:panelGroup>

								<h:panelGroup layout="block" id="extentOverview">
									<p:outputLabel value="Projektausmaß: " for="extentBubble"
										styleClass="bold float-left" />

									<h:panelGroup layout="block" id="extentBubble"
										styleClass="bubble #{editProjectPresenter.getBubbleId(editProjectPresenter.editableProject.extent)}"
										style="margin-left: 45%;">
										<h:panelGroup layout="block" styleClass="insideBubbleValue">
											<h:outputText
												value="#{editProjectPresenter.extent[editProjectPresenter.editableProject.extent].shortName}" />
										</h:panelGroup>
									</h:panelGroup>
								</h:panelGroup>
							</p:panelGrid>

							<p:panelGrid columns="2" cellpadding="20"
								styleClass="borderless-grid" style="width:70%;">

								<p:outputLabel for="customer" value="Auftraggeber:"
									styleClass="bold" />
								<h:outputText id="customer"
									value="#{editProjectPresenter.editableProject.customer.firstname} #{editProjectPresenter.editableProject.customer.lastname}" />

								<p:outputLabel for="locationOverview" value="Standort:"
									styleClass="bold" />
								<h:outputText id="locationOverview"
									value="#{editProjectPresenter.editableProject.location.city}" />

								<p:outputLabel for="budgetOverview" value="Gesamtbudget:"
									styleClass="bold" />
								<h:outputText id="budgetOverview"
									value="#{editProjectPresenter.editableProject.budget}">
									<f:convertNumber type="currency" />
								</h:outputText>

								<p:outputLabel for="intCostsOverview" value="Interne Kosten:"
									styleClass="bold" />
								<h:outputText id="intCostsOverview"
									value="#{editProjectPresenter.editableProject.intCosts}">
									<f:convertNumber type="currency" />
								</h:outputText>

								<p:outputLabel for="extCostsOverview" value="Externe Kosten:"
									styleClass="bold" />
								<h:outputText id="extCostsOverview"
									value="#{editProjectPresenter.editableProject.extCosts}">
									<f:convertNumber type="currency" />
								</h:outputText>

								<p:outputLabel for="managerOverview" value="Projektleiter:"
									styleClass="bold" />
								<h:outputText id="managerOverview"
									value="#{editProjectPresenter.editableProject.manager.firstname} #{editProjectPresenter.editableProject.manager.lastname}" />

								<p:outputLabel for="startdateOverview" value="Projektstart:"
									styleClass="bold" />
								<h:outputText id="startdateOverview"
									value="#{editProjectPresenter.editableProject.startdate}">
									<f:convertDateTime pattern="dd.MM.yyyy" />
								</h:outputText>

								<p:outputLabel for="enddateOverview" value="Projektende:"
									styleClass="bold" />
								<h:outputText id="enddateOverview"
									value="#{editProjectPresenter.editableProject.enddate}">
									<f:convertDateTime pattern="dd.MM.yyyy" />
								</h:outputText>

								<p:outputLabel for="avgProceedsPerYearOverview"
									value="Voraussichtlicher Erlös/Jahr:" styleClass="bold" />
								<h:outputText id="avgProceedsPerYearOverview"
									value="#{editProjectPresenter.editableProject.avgProceedsPerYear}">
									<f:convertNumber type="currency" />
								</h:outputText>

								<p:outputLabel for="costUnitOverview" value="Kostenstelle:"
									styleClass="bold" />
								<h:outputText id="costUnitOverview"
									value="#{editProjectPresenter.editableProject.costUnit.fullname}" />

								<p:outputLabel for="imageGainOverview" value="Imagegewinn:"
									styleClass="bold" />
								<h:outputText id="imageGainOverview"
									value="#{editProjectPresenter.editableProject.imageGain} %" />

								<p:outputLabel for="nameRecognitionIncreaseOverview"
									value="Steigerung d. Bekanntheitsgrads:" styleClass="bold" />
								<h:outputText id="nameRecognitionIncreaseOverview"
									value="#{editProjectPresenter.editableProject.nameRecognitionIncrease} %" />

								<p:outputLabel for="durationOverview" value="Projektdauer:"
									styleClass="bold" />
								<h:outputText id="durationOverview"
									value="#{editProjectPresenter.editableProject.duration.years} Jahre #{editProjectPresenter.editableProject.duration.months} Monate #{editProjectPresenter.editableProject.duration.days} Tage" />

								<p:outputLabel for="npvOverview" value="NPV:" styleClass="bold" />
								<h:outputText id="npvOverview"
									value="#{editProjectPresenter.editableProject.npv}">
									<f:convertNumber type="currency" />
								</h:outputText>

								<p:outputLabel for="roiOverview" value="Return on Investment:"
									styleClass="bold" />
								<h:outputText id="roiOverview"
									value="#{editProjectPresenter.editableProject.roi}">
									<f:convertNumber type="currency" />
								</h:outputText>

								<p:outputLabel for="useDurationOverview"
									value="Voraussichtliche Nutzungsdauer:" styleClass="bold" />
								<h:outputText id="useDurationOverview"
									value="#{editProjectPresenter.editableProject.useDuration} Jahre" />

								<p:outputLabel for="amortizationTimeOverview"
									value="Amortisationszeit:" styleClass="bold" />
								<h:outputText id="amortizationTimeOverview"
									value="#{editProjectPresenter.editableProject.amortizationTime} Jahre">
									<f:convertNumber locale="de" />
								</h:outputText>



								<p:outputLabel for="workflowStateOverview"
									value="Workflow Status:" styleClass="bold" />
								<h:outputText id="workflowStateOverview"
									value="#{editProjectPresenter.getState()[editProjectPresenter.editableProject.workflowState].getName()}">
								</h:outputText>

							</p:panelGrid>
						</p:panel>
					</p:tab>

					<p:tab title="Editieren">
						<p:panel id="panel"
							header="#{editProjectPresenter.editableProject.workflowState == State.requested ? 'Projektantrag' : 'Projekt'} (#{editProjectPresenter.editableProject.id}): #{editProjectPresenter.editableProject.name} bearbeiten">
							<p:messages id="msgsEdit" />
							<p:growl id="growlEdit" for="growlEdit" showDetail="true"
								sticky="true" />
							<h:panelGrid columns="4" cellpadding="5">
								<p:outputLabel for="projectName" value="Projektantragsname:" />
								<p:inputText id="projectName" styleClass="inputFields"
									value="#{editProjectPresenter.editableProject.name}"
									required="true">
									<f:validateLength minimum="5" />
								</p:inputText>

								<p:outputLabel for="projectCustomer"
									value="Projektauftraggeber:" />
								<p:autoComplete id="projectCustomer" minQueryLength="3"
									converter="userConverter"
									value="#{editProjectPresenter.editableProject.customer}"
									completeMethod="#{editProjectPresenter.autocompleteUser}"
									var="user" itemValue="#{user}" itemLabel="#{user.fullname}"
									effect="fade" required="true" />

								<p:outputLabel for="projectManager" value="Projektleiter:" />
								<p:autoComplete id="projectManager" minQueryLength="3"
									converter="userConverter"
									value="#{editProjectPresenter.editableProject.manager}"
									var="manager" itemValue="#{manager}"
									itemLabel="#{manager.fullname}"
									completeMethod="#{editProjectPresenter.autocompleteUser}"
									effect="fade" required="true" />

								<p:outputLabel for="location" value="Standort:" />
								<p:selectOneMenu id="location" styleClass="inputFields"
									value="#{editProjectPresenter.editableProject.location}"
									converter="locationConverter" required="true">
									<f:selectItem itemLabel="Standort auswählen"
										itemValue="#{null}" noSelectionOption="true" />
									<f:selectItems value="#{editProjectPresenter.locations}"
										var="location" itemValue="#{location}"
										itemLabel="#{location.city}" />
								</p:selectOneMenu>

								<p:outputLabel for="projectStart" value="Projektstart:" />
								<p:calendar id="projectStart"
									value="#{editProjectPresenter.editableProject.startdate}"
									locale="de" navigator="true" pattern="yyyy-MMM-dd"
									required="true" />

								<p:outputLabel for="projectEnd" value="Projektende:" />
								<p:calendar id="projectEnd"
									value="#{editProjectPresenter.editableProject.enddate}"
									locale="de" navigator="true" pattern="yyyy-MMM-dd"
									required="true" />

								<p:outputLabel for="projectIntCosts" value="Interne Kosten:" />
								<p:inputNumber id="projectIntCosts"
									value="#{editProjectPresenter.editableProject.intCosts}"
									required="true" symbol=" €" symbolPosition="s"
									decimalSeparator="," decimalPlaces="0" thousandSeparator=".">
								</p:inputNumber>

								<p:outputLabel for="projectExtCosts" value="Externe Kosten:" />
								<p:inputNumber id="projectExtCosts"
									value="#{editProjectPresenter.editableProject.extCosts}"
									required="true" symbol=" €" symbolPosition="s" decimalPlaces="0"
									decimalSeparator="," thousandSeparator=".">
								</p:inputNumber>

								<p:outputLabel for="costUnit" value="Kostenstelle:" />
								<p:selectOneMenu id="costUnit" styleClass="inputFields"
									value="#{editProjectPresenter.editableProject.costUnit}"
									required="true" converter="departmentConverter">
									<f:selectItem itemLabel="Kostenstelle auswählen"
										itemValue="#{null}" noSelectionOption="true" />
									<f:selectItems value="#{editProjectPresenter.costUnits}"
										var="costUnit" itemValue="#{costUnit}"
										itemLabel="#{costUnit.fullname}" />
								</p:selectOneMenu>

								<p:outputLabel for="extent" value="Projektausmaß:" />
								<p:selectOneMenu id="extent" styleClass="inputFields"
									value="#{editProjectPresenter.editableProject.extent}"
									required="true">
									<f:selectItem itemLabel="Projektausmaß auswählen"
										itemValue="#{null}" noSelectionOption="true" />
									<f:selectItems value="#{editProjectPresenter.extent}"
										var="extent" itemLabel="#{extent.name()}"
										itemValue="#{extent.value}" />
								</p:selectOneMenu>

								<p:outputLabel for="projectInnovationStrat"
									value="Anpassung an die Innovationsstrategie:" />
								<p:selectOneMenu id="projectInnovationStrat"
									styleClass="inputFields"
									value="#{editProjectPresenter.editableProject.innovationStrategy}"
									required="true">
									<f:selectItem itemLabel="Anpassung an die Innovationsstrategie"
										itemValue="#{null}" noSelectionOption="true" />
									<f:selectItems value="#{editProjectPresenter.prio}" var="prio"
										itemLabel="#{prio.name}" itemValue="#{prio.value}" />
								</p:selectOneMenu>

								<p:outputLabel for="projectTimingStrat"
									value="Anpassung an die Zeitstrategie:" />
								<p:selectOneMenu id="projectTimingStrat"
									styleClass="inputFields"
									value="#{editProjectPresenter.editableProject.timingStrategy}"
									required="true">
									<f:selectItem itemLabel="Anpassung an die Zeitstrategie"
										itemValue="#{null}" noSelectionOption="true" />
									<f:selectItems value="#{editProjectPresenter.prio}" var="prio"
										itemLabel="#{prio.name}" itemValue="#{prio.value}" />
								</p:selectOneMenu>

								<p:outputLabel for="projectPricingStrat"
									value="Anpassung an die Preisstrategie:" />
								<p:selectOneMenu id="projectPricingStrat"
									styleClass="inputFields"
									value="#{editProjectPresenter.editableProject.pricingStrategy}"
									required="true">
									<f:selectItem itemLabel="Anpassung an die Preisstrategie:"
										itemValue="#{null}" noSelectionOption="true" />
									<f:selectItems value="#{editProjectPresenter.prio}" var="prio"
										itemLabel="#{prio.name}" itemValue="#{prio.value}" />
								</p:selectOneMenu>

								<p:outputLabel for="projectCustomerStrat"
									value="Anpassung an die Kundenstrategie:" />
								<p:selectOneMenu id="projectCustomerStrat"
									styleClass="inputFields"
									value="#{editProjectPresenter.editableProject.customerStrategy}"
									required="true">
									<f:selectItem itemLabel="Anpassung an die Kundenstrategie:"
										itemValue="#{null}" noSelectionOption="true" />
									<f:selectItems value="#{editProjectPresenter.prio}" var="prio"
										itemLabel="#{prio.name}" itemValue="#{prio.value}" />
								</p:selectOneMenu>

								<p:outputLabel for="projectUrgency" value="Dringlichkeit:" />
								<p:selectOneMenu id="projectUrgency" styleClass="inputFields"
									value="#{editProjectPresenter.editableProject.urgency}"
									required="true">
									<f:selectItem itemLabel="Dringlichkeit:" itemValue="#{null}"
										noSelectionOption="true" />
									<f:selectItems value="#{editProjectPresenter.prio}" var="prio"
										itemLabel="#{prio.name}" itemValue="#{prio.value}" />
								</p:selectOneMenu>

								<p:outputLabel for="projectRisk" value="Projektrisiko:" />
								<p:selectOneMenu id="projectRisk" styleClass="inputFields"
									value="#{editProjectPresenter.editableProject.risk}"
									required="true">
									<f:selectItem itemLabel="Projektrisiko:" itemValue="#{null}"
										noSelectionOption="true" />
									<f:selectItems value="#{editProjectPresenter.prio}" var="prio"
										itemLabel="#{prio.name}" itemValue="#{prio.value}" />
								</p:selectOneMenu>

								<p:outputLabel for="projectNameIncrease"
									value="Steigerung d. Bekanntheitsgrads:" />
								<p:inputNumber id="projectNameIncrease"  decimalPlaces="0"
									value="#{editProjectPresenter.editableProject.nameRecognitionIncrease}" minValue="0" maxValue="100"
									symbol=" %" symbolPosition="s" required="true" emptyValue="zero">
								</p:inputNumber>

								<p:outputLabel for="projectImgeGain" value="Imagegewinn:" />
								<p:inputNumber id="projectImgeGain" maxValue="100" minValue="0"
									value="#{editProjectPresenter.editableProject.imageGain}"  decimalPlaces="0"
									symbol=" %" symbolPosition="s" required="true" emptyValue="zero">
								</p:inputNumber>

								<p:outputLabel for="projectAPYear"
									value="Vorraussichtlicher Erlös/Jahr:" />
								<p:inputNumber id="projectAPYear"
									value="#{editProjectPresenter.editableProject.avgProceedsPerYear}"
									required="true" symbol=" €" symbolPosition="s" decimalPlaces="0"
									decimalSeparator="," thousandSeparator=".">
								</p:inputNumber>

								<p:outputLabel for="useDuration"
									value="Vorraussichtliche Nutzungsdauer (Jahre):" />
								<p:inputNumber id="useDuration"
									value="#{editProjectPresenter.editableProject.useDuration}" symbol=" Jahre" symbolPosition="s"
									required="true" decimalPlaces="0" minValue="0" maxValue="999">
								</p:inputNumber>

								<p:outputLabel for="npv" value="NPV:" />
								<p:inputNumber id="npv"
									value="#{editProjectPresenter.editableProject.npv}"
									required="true" symbol=" €" symbolPosition="s" decimalPlaces="0"
									decimalSeparator="," thousandSeparator="."></p:inputNumber>


								<p:outputLabel for="workflowState" value="Workflow Status:"
									rendered="#{loginBean.user.role.name().equals('MANAGER')}" />
								<p:selectOneMenu id="workflowState" styleClass="inputFields"
									value="#{editProjectPresenter.editableProject.workflowState}"
									required="true"
									rendered="#{loginBean.user.role.name().equals('MANAGER')}">
									<f:selectItem itemLabel="Workflow Status:" itemValue="#{null}"
										noSelectionOption="true" />
									<f:selectItems value="#{editProjectPresenter.state}" itemDisabled="#{state.name.equals('laufend')}"
										var="state" itemLabel="#{state.name}"
										itemValue="#{state.value}" />
								</p:selectOneMenu>

								<p:outputLabel for="roi" value="ROI:" />
								<p:inputNumber id="roi"
									value="#{editProjectPresenter.editableProject.roi}"
									symbol=" €" symbolPosition="s" decimalPlaces="0"
									decimalSeparator="," thousandSeparator=".">
								</p:inputNumber>
							</h:panelGrid>

							<h:panelGrid columns="2" cellpadding="5">
								<p:outputLabel for="projectCurrentSituation"
									value="Ausgangssituation:" />
								<p:inputTextarea id="projectCurrentSituation"
									value="#{editProjectPresenter.editableProject.currentSituation}"
									required="true" rows="10" cols="100">
									<f:validateLength minimum="20" />
								</p:inputTextarea>

								<p:outputLabel for="projectObjective" value="Zielsetzung:" />
								<p:inputTextarea id="projectObjective"
									value="#{editProjectPresenter.editableProject.objective}"
									required="true" rows="10" cols="100">
									<f:validateLength minimum="20" />
								</p:inputTextarea>

								<p:outputLabel for="projectBenefit" value="Projektnutzen:" />
								<p:inputTextarea id="projectBenefit"
									value="#{editProjectPresenter.editableProject.benefit}"
									required="true" rows="10" cols="100">
									<f:validateLength minimum="20" />
								</p:inputTextarea>

							</h:panelGrid>
							<p:commandButton value="Daten aktualisieren"
								update="panel panelOverview"
								actionListener="#{editProjectPresenter.updateProject}"
								icon="ui-icon-check">
								<f:ajax onerror="window.scrollTo(0, 0);" />
							</p:commandButton>
							<p:button value="Abbrechen" outcome="project-overview" />
						</p:panel>
					</p:tab>
					<p:tab title="Änderungshistorie">
						<p:panel id="history"
							header="Änderungshistorie #{editProjectPresenter.editableProject.workflowState == State.requested ? 'Projektantrag' : 'Projekt'} (#{editProjectPresenter.editableProject.id}): #{editProjectPresenter.editableProject.name}">
							<p:dataTable id="projectLogs" var="projectLog"
								value="#{editProjectPresenter.projectLogs}"
								emptyMessage="Keine Historie gefunden">
								<p:column headerText="Datum">
									<h:outputText value="#{projectLog.timestampInsert}">
										<f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss" />
									</h:outputText>
								</p:column>
								<p:column headerText="Bearbeiter">
									<h:outputText
										value="#{projectLog.editorId.lastname}, #{projectLog.editorId.firstname}" />
								</p:column>
								<p:column headerText="Neuer Projektstatus">
									<h:outputText
										value="#{editProjectPresenter.state[projectLog.state].name}" />
								</p:column>
							</p:dataTable>
						</p:panel>
					</p:tab>
				</p:tabView>
			</div>
		</h:form>
	</ui:define>

</ui:composition>
