<ui:composition template="/template/design.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">
		<h:form>
			<p:breadCrumb styleClass="ui-state-default">
				<p:menuitem value="Mein Dashboard" outcome="/secure/home.xhtml" />
				<p:menuitem value="Projekt Einreichen" outcome="create-project" />
			</p:breadCrumb>
			<div>
				<p:panel id="panel" header="Neuer Projektantrag">

					<p:messages id="msgs" />
					<p:growl id="growl" for="growl" showDetail="true" sticky="true" />

					<h:panelGrid columns="4" cellpadding="5">
						<p:outputLabel for="projectName" value="Projektantragsname:" />
						<p:inputText id="projectName" styleClass="inputFields"
							value="#{createProjectPresenter.project.name}" required="true">
							<f:validateLength minimum="5" />
						</p:inputText>

						<p:outputLabel for="projectCustomer" value="Projektauftraggeber:" />
						<p:autoComplete id="projectCustomer" minQueryLength="3"
							converter="userConverter" styleClass="inputFields"
							value="#{createProjectPresenter.project.customer}"
							completeMethod="#{createProjectPresenter.autocompleteUser}"
							var="user" itemValue="#{user}" itemLabel="#{user.fullname}"
							effect="fade" required="true" />

						<p:outputLabel for="projectManager" value="Projektleiter:" />
						<p:autoComplete id="projectManager" minQueryLength="3"
							converter="userConverter" styleClass="inputFields"
							value="#{createProjectPresenter.project.manager}" var="manager"
							itemValue="#{manager}" itemLabel="#{manager.fullname}"
							completeMethod="#{createProjectPresenter.autocompleteUser}"
							effect="fade" required="true" />

						<p:outputLabel for="location" value="Standort:" />
						<p:selectOneMenu id="location" styleClass="inputFields"
							value="#{createProjectPresenter.project.location}"
							converter="locationConverter" required="true">
							<f:selectItem itemLabel="Standort auswählen" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{createProjectPresenter.locations}"
								var="location" itemValue="#{location}"
								itemLabel="#{location.city}" />
						</p:selectOneMenu>

						<p:outputLabel for="projectStart" value="Projektstart:" />
						<p:calendar id="projectStart" styleClass="inputFields"
							value="#{createProjectPresenter.project.startdate}" locale="de" 
							navigator="true" pattern="dd-MM-yyyy" required="true" />

						<p:outputLabel for="projectEnd" value="Projektende:" />
						<p:calendar id="projectEnd" styleClass="inputFields"
							value="#{createProjectPresenter.project.enddate}" locale="de"
							navigator="true" pattern="dd-MM-yyyy" required="true" />

						<p:outputLabel for="projectIntCost" value="Interne Kosten:" />
						<p:inputNumber id="projectIntCost" styleClass="inputFields"
							value="#{createProjectPresenter.project.intCosts}"
							required="true" symbol=" €" symbolPosition="s" decimalPlaces="0"
							decimalSeparator="," thousandSeparator=".">
						</p:inputNumber>

						<p:outputLabel for="projectExtCost" value="Externe Kosten:" />
						<p:inputNumber id="projectExtCost" styleClass="inputFields"
							value="#{createProjectPresenter.project.extCosts}"
							decimalPlaces="0" required="true" symbol=" €" symbolPosition="s"
							decimalSeparator="," thousandSeparator=".">
						</p:inputNumber>

						<p:outputLabel for="costUnit" value="Kostenstelle:" />
						<p:selectOneMenu id="costUnit" styleClass="inputFields"
							value="#{createProjectPresenter.project.costUnit}"
							converter="departmentConverter" required="true">
							<f:selectItem itemLabel="Kostenstelle auswählen"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{createProjectPresenter.costUnits}"
								var="costUnit" itemValue="#{costUnit}"
								itemLabel="#{costUnit.fullname}" />
						</p:selectOneMenu>

						<p:outputLabel for="extent" value="Projektausmaß:" />
						<p:selectOneMenu id="extent" styleClass="inputFields"
							value="#{createProjectPresenter.project.extent}" required="true">
							<f:selectItem itemLabel="Projektausmaß auswählen"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{createProjectPresenter.extent}"
								var="extent" itemLabel="#{extent.toString()}"
								itemValue="#{extent.value}" />
						</p:selectOneMenu>

						<p:outputLabel for="projectInnovationStrat"
							value="Anpassung an die Innovationsstrategie:" />
						<p:selectOneMenu id="projectInnovationStrat"
							styleClass="inputFields"
							value="#{createProjectPresenter.project.innovationStrategy}"
							required="true">
							<f:selectItem itemLabel="Anpassung an die Innovationsstrategie"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{createProjectPresenter.prio}" var="prio"
								itemLabel="#{prio.name}" itemValue="#{prio.value}" />
						</p:selectOneMenu>


						<p:outputLabel for="projectTimingStrat"
							value="Anpassung an die Zeitstrategie:" />
						<p:selectOneMenu id="projectTimingStrat" styleClass="inputFields"
							value="#{createProjectPresenter.project.timingStrategy}"
							required="true">
							<f:selectItem itemLabel="Anpassung an die Zeitstrategie"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{createProjectPresenter.prio}" var="prio"
								itemLabel="#{prio.name}" itemValue="#{prio.value}" />
						</p:selectOneMenu>

						<p:outputLabel for="projectPricingStrat"
							value="Anpassung an die Preisstrategie:" />
						<p:selectOneMenu id="projectPricingStrat" styleClass="inputFields"
							value="#{createProjectPresenter.project.pricingStrategy}"
							required="true">
							<f:selectItem itemLabel="Anpassung an die Preisstrategie:"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{createProjectPresenter.prio}" var="prio"
								itemLabel="#{prio.name}" itemValue="#{prio.value}" />
						</p:selectOneMenu>


						<p:outputLabel for="projectCustomerStrat"
							value="Anpassung an die Kundenstrategie:" />
						<p:selectOneMenu id="projectCustomerStrat"
							styleClass="inputFields"
							value="#{createProjectPresenter.project.customerStrategy}"
							required="true">
							<f:selectItem itemLabel="Anpassung an die Kundenstrategie:"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{createProjectPresenter.prio}" var="prio"
								itemLabel="#{prio.name}" itemValue="#{prio.value}" />
						</p:selectOneMenu>


						<p:outputLabel for="projectUrgency" value="Dringlichkeit:" />
						<p:selectOneMenu id="projectUrgency" styleClass="inputFields"
							value="#{createProjectPresenter.project.urgency}" required="true">
							<f:selectItem itemLabel="Dringlichkeit:" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{createProjectPresenter.prio}" var="prio"
								itemLabel="#{prio.name}" itemValue="#{prio.value}" />
						</p:selectOneMenu>


						<p:outputLabel for="projectRisk" value="Projektrisiko:" />
						<p:selectOneMenu id="projectRisk" styleClass="inputFields"
							value="#{createProjectPresenter.project.risk}" required="true">
							<f:selectItem itemLabel="Projektrisiko:" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{createProjectPresenter.prio}" var="prio"
								itemLabel="#{prio.name}" itemValue="#{prio.value}" />
						</p:selectOneMenu>

						<p:outputLabel for="projectNameIncrease"
							value="Steigerung des Bekanntheitsgrads:" />
						<p:inputNumber id="projectNameIncrease" styleClass="inputFields"
							value="#{createProjectPresenter.project.nameRecognitionIncrease}"
							decimalPlaces="0" symbol="%" symbolPosition="s" required="true"
							emptyValue="zero" maxValue="100" minValue="0">
						</p:inputNumber>

						<p:outputLabel for="projectImgeGain" value="Imagegewinn:" />
						<p:inputNumber id="projectImgeGain" styleClass="inputFields"
							decimalPlaces="0"
							value="#{createProjectPresenter.project.imageGain}" symbol="%"
							symbolPosition="s" required="true" emptyValue="zero"
							maxValue="100" minValue="0">
						</p:inputNumber>

						<p:outputLabel for="projectAPYear"
							value="Vorraussichtlicher Erlös/Jahr:" />
						<p:inputNumber id="projectAPYear" styleClass="inputFields"
							value="#{createProjectPresenter.project.avgProceedsPerYear}"
							required="true" symbol=" €" symbolPosition="s" decimalPlaces="0"
							decimalSeparator="," thousandSeparator=".">
						</p:inputNumber>

						<p:outputLabel for="useDuration"
							value="Vorraussichtliche Nutzungsdauer:" />
						<p:inputNumber id="useDuration" styleClass="inputFields"
							value="#{createProjectPresenter.project.useDuration}"
							required="true" decimalPlaces="0" symbol=" Jahre"
							symbolPosition="s" minValue="0" maxValue="999">
						</p:inputNumber>

						<p:outputLabel for="npv" value="NPV:" />
						<p:inputNumber id="npv" styleClass="inputFields"
							value="#{createProjectPresenter.project.npv}" required="true"
							symbol=" €" symbolPosition="s" decimalSeparator=","
							decimalPlaces="0" thousandSeparator=".">
						</p:inputNumber>

						<p:outputLabel for="roi" value="ROI:" />
						<p:inputNumber id="roi" styleClass="inputFields"
							value="#{createProjectPresenter.project.roi}" required="true"
							symbol=" €" symbolPosition="s" decimalSeparator=","
							decimalPlaces="0" thousandSeparator=".">
						</p:inputNumber>

					</h:panelGrid>

					<h:panelGrid columns="2" cellpadding="5">

						<p:outputLabel for="projectCurrentSituation"
							value="Ausgangssituation:" />
						<p:inputTextarea id="projectCurrentSituation"
							value="#{createProjectPresenter.project.currentSituation}"
							required="true" rows="10" cols="100">
							<f:validateLength minimum="20" />
						</p:inputTextarea>

						<p:outputLabel for="projectObjective" value="Zielsetzung:" />
						<p:inputTextarea id="projectObjective"
							value="#{createProjectPresenter.project.objective}"
							required="true" rows="10" cols="100">
							<f:validateLength minimum="20" />
						</p:inputTextarea>

						<p:outputLabel for="projectBenefit" value="Projektnutzen:" />
						<p:inputTextarea id="projectBenefit"
							value="#{createProjectPresenter.project.benefit}" required="true"
							rows="10" cols="100">
							<f:validateLength minimum="20" />
						</p:inputTextarea>

					</h:panelGrid>
					<p:commandButton value="Projektantrag erstellen" update="panel"
						actionListener="#{createProjectPresenter.saveProject}"
						icon="ui-icon-check">
						<f:ajax onerror="window.scrollTo(0, 0);" />
					</p:commandButton>
					<p:button value="Abbrechen" outcome="/secure/home" />
				</p:panel>
			</div>
		</h:form>
	</ui:define>

</ui:composition>