<ui:composition template="/template/design.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">
	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
	<p:dialog id="spinner" widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    <p:graphicImage url="/resources/images/loader.gif" />
		</p:dialog>
		<h:form id="form">
		<p:breadCrumb styleClass="ui-state-default">
				<p:menuitem value="Mein Dashboard" outcome="/secure/home.xhtml" />
				<p:menuitem value="Projekte Priorisieren" outcome="priority-overview" />
			</p:breadCrumb>
		<p:growl id="growl" showDetail="true" sticky="true" />	
		<p:panel id="PicklistPanel" styleClass="onlyforpaneluse">
			<p:pickList id="PojoPickList" value="#{priorityOverviewPresenter.projectDualList}" var="project" effect="drop"
                itemValue="#{project}" itemLabel="#{project.name}" showSourceControls="false" showTargetControls="false" showCheckbox="true" responsive="true"
                showSourceFilter="false" showTargetFilter="false" filterMatchMode="contains" converter="projectConverter" >
 
		        <f:facet name="sourceCaption">Verfügbar</f:facet>
		        <f:facet name="targetCaption">Laufend</f:facet>
		       		 
		        <p:ajax global="false" event="transfer" listener="#{priorityOverviewPresenter.onTransfer}" update="PicklistPanel"/>
		        		        	 
		        <p:column style="width:5%; border: 1px solid #000000;" >
		            <h:outputText value="#{project.id}" />
		        </p:column>
		        
		        <p:column style="width:45%; border: 1px solid #000000;">
		            <h:outputText value="#{project.name}" />
		        </p:column>
		        
		        <p:column style="width:20%; border: 1px solid #000000;">
		            <h:outputText value="#{project.intCosts}" />
		        </p:column>
		        
		        <p:column style="width:10%; border: 1px solid #000000;">
		            <h:outputText value="#{project.rating}" />
		        </p:column>
		        
		        <p:column style="width:20%; border: 1px solid #000000;" class="reverse-proj-prio-#{project.urgency}" >
		            <h:outputText value="#{priorityOverviewPresenter.prio[project.urgency].name}" />
		        </p:column>
		    </p:pickList>
		    <p:commandButton  value="Priorisierung speichern" action="#{priorityOverviewPresenter.savePriorityList()}" update="growl"/>
		    <p:button value="Abbrechen" outcome="/secure/home" />
		    <p:commandButton  value="Vorschlagspriorisierung" action="#{priorityOverviewPresenter.recommendedPriority()}" update="PojoPickList"/>
    </p:panel>
    <p:dialog id="noBudgetDialog" widgetVar="noBudgetVar" header="Budgetgrenze erreicht!" modal="true">
		<h:outputText value="Möchten Sie das Budget erhöhen?" style="align: center"/>
		<br />
		<br />
		<br />
		<p:commandButton value="Ja!" id="raiseBudget" actionListener="#{priorityOverviewPresenter.raiseBudget}" />
		<p:commandButton value="Nein!" id="noRaiseBudget" actionListener="#{priorityOverviewPresenter.noRaiseBudget}"/>
	</p:dialog>
    </h:form>
	</ui:define>

</ui:composition>