<ui:composition template="/template/design.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:breadCrumb styleClass="ui-state-default">
				<p:menuitem value="Mein Dashboard" outcome="/secure/home.xhtml" />
				<p:menuitem value="Projekt Übersicht" outcome="project-overview" />
			</p:breadCrumb>
			<p:dataTable id="projects" var="project"
				value="#{projectOverviewPresenter.projects}" sortMode="multiple"
				scrollable="true" scrollHeight="auto" scrollWidth="auto"
				widgetVar="projectsTable" rowKey="#{project.id}" rowsPerPageTemplate="10,50,100"
				emptyMessage="Keine Projekte gefunden" selectionMode="single"
				selection="#{projectOverviewPresenter.selectedProject}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
				tableStyle="width:auto table-layout:fixed" reflow="true" rows="10"
				paginator="true">

				<f:facet name="{Exporters}">
		
            <h:commandLink>
                <p:graphicImage name="images/pdf.png" width="24"/>
                <p:dataExporter type="pdf" target="projects" fileName="projects" encoding="cp1252"  preProcessor="#{exporter.preProcessPDF}"/>
            </h:commandLink>
</f:facet>

				<f:facet name="header">
				<h:panelGroup id="tblHeader">
					<p:button id="details" icon="ui-icon-search"
						style="width:35px;height:30px;float:left" outcome="change-project"
						disabled="#{projectOverviewPresenter.disabled}">
						<f:param name="id"
							value="#{projectOverviewPresenter.selectedProject.id}" />
					</p:button>
					<p:tooltip id="toolTipDetails" for="details" value="Detailansicht"
						position="top" />
					<p:button id="change" icon="ui-icon-pencil"
						style="width:35px;height:30px;float:left" outcome="change-project"
						disabled="#{projectOverviewPresenter.disabled}">
						<f:param name="id"
							value="#{projectOverviewPresenter.selectedProject.id}" />
						<f:param name="action" value="edit" />
					</p:button>

					<p:commandButton id="infoBox" icon="ui-icon-notice"
						style="width:35px;height:30px;float:left" type="button"
						onclick="PF('dlg1').show();" />
					<p:tooltip id="toolTipInfoBox" for="infoBox" value="InfoBox"
						position="top" />

					<p:dialog header="Info" widgetVar="dlg1" modal="true" height="100">
						<h:outputText
							value="Zum Anzeigen der Projekte klicken Sie bitte auf das gewünschte Projekt." />
					</p:dialog>
					Projekt-Übersicht
					<p:commandButton id="toggler" type="button"
						value="Spalten hinzufügen" icon="ui-icon-triangle-1-s" />
					<p:columnToggler datasource="projects" trigger="toggler">
						<p:ajax event="toggle"
							listener="#{projectOverviewPresenter.onToggle}" />
					</p:columnToggler>
						</h:panelGroup>
				</f:facet>
				<p:ajax event="rowSelect" update="form:projects:tblHeader"
					listener="#{projectOverviewPresenter.onRowClickSelect}" />

				<p:column filterBy="#{project.id}" headerText="Projekt-Nr."
					visible="#{projectOverviewPresenter.showColumn[0]}"
					sortBy="#{project.id}" filterMatchMode="startsWith" width="120">
					<h:outputText value="#{project.id} " />
				</p:column>

				<p:column filterBy="#{project.name}" headerText="Projektname"
					visible="#{projectOverviewPresenter.showColumn[1]}"  exportable="false"
					sortBy="#{project.name}" filterMatchMode="contains" width="200">
					<h:outputText value="#{project.name}" />
				</p:column>

				<p:column
					filterBy="#{project.customer.firstname} #{project.customer.lastname}"
					headerText="Projektauftraggeber"  exportable="false"
					visible="#{projectOverviewPresenter.showColumn[2]}"
					sortBy="#{project.customer.firstname} #{project.customer.lastname}"
					filterMatchMode="contains" width="200">
					<h:outputText
						value="#{project.customer.firstname} #{project.customer.lastname}" />
				</p:column>

				<p:column
					filterBy="#{project.manager.firstname} #{project.manager.lastname}"
					headerText="Projektleiter"  exportable="false"
					visible="#{projectOverviewPresenter.showColumn[3]}"
					sortBy="#{project.manager.firstname} #{project.manager.lastname}"
					filterMatchMode="contains" width="200">
					<h:outputText
						value="#{project.manager.firstname} #{project.manager.lastname}" />
				</p:column>

				<p:column filterBy="#{project.location.city}" headerText="Standort"
					visible="#{projectOverviewPresenter.showColumn[4]}"  exportable="false"
					sortBy="project.location.city" filterMatchMode="in" width="200">
					<f:facet name="filter">
						<p:selectCheckboxMenu label="Standort auswählen" filter="true"
							filterMatchMode="startsWith"
							onchange="PF('projectsTable').filter()" panelStyle="width:250px"
							scrollHeight="150">
							<f:selectItems value="#{projectOverviewPresenter.locations}"
								var="location" itemLabel="#{location.city}"
								itemValue="#{location.city}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{project.location.city}" />
				</p:column>

				<p:column filterBy="#{project.getExtentAsEnum(project.extent)}" headerText="Projektausmaß"
					visible="#{projectOverviewPresenter.showColumn[5]}"  exportable="false"
					sortBy="#{project.extent}" filterMatchMode="contains" width="200">
					<h:outputText
						value="#{projectOverviewPresenter.extent[project.extent]}" />
				</p:column>

				<p:column filterBy="#{project.startDateAsString}" headerText="Projektstart"
					visible="#{projectOverviewPresenter.showColumn[6]}"  exportable="false"
					sortBy="#{project.startdate}" 
					width="100">
					<h:outputText value="#{project.startdate}">
						<f:convertDateTime pattern="dd.MM.yyyy"  />
					</h:outputText>
				</p:column>

				<p:column filterBy="#{project.endDateAsString}" headerText="Projektende"
					visible="#{projectOverviewPresenter.showColumn[7]}"  exportable="false"
					sortBy="#{project.enddate}" filterMatchMode="contains" width="100">
					<h:outputText value="#{project.enddate}">
						<f:convertDateTime pattern="dd.MM.yyyy" />
					</h:outputText>
				</p:column>
				
				<p:column
					headerText="Dauer"  exportable="false"
					visible="#{projectOverviewPresenter.showColumn[8]}"
					sortBy="#{project.durationInDays}"
					width="200">
					<h:outputText  value="Monate: #{project.duration.years * 12 + project.duration.months} Tage: #{project.duration.days}" />
				</p:column>

				<p:column filterBy="#{project.progress}" headerText="Fortschritt"
					visible="#{projectOverviewPresenter.showColumn[9]}" 
					sortBy="#{project.progress}" filterMatchMode="contains" width="200">
					<h:outputText value="#{project.progress} %" />
				</p:column>

				<p:column filterBy="#{project.budget}" headerText="Budget"
					visible="#{projectOverviewPresenter.showColumn[10]}" 
					sortBy="#{project.budget}" filterMatchMode="contains" width="200">
					<h:outputText value="#{project.budget} €" />
				</p:column>

				<p:column filterBy="#{project.getWorkFlowStateAsEnum(project.workflowState).name}"
					headerText="Projektstand" 
					visible="#{projectOverviewPresenter.showColumn[11]}"
					sortBy="#{project.workflowState}" filterMatchMode="contains"
					width="120">
					<h:outputText
						value="#{projectOverviewPresenter.state[project.workflowState].name}" />
				</p:column>

				<p:column filterBy="#{project.costUnit.fullname}"
					headerText="Kostenstelle"
					visible="#{projectOverviewPresenter.showColumn[12]}"
					sortBy="#{project.costUnit}"
					sortFunction="#{projectOverviewPresenter.sortByDepartment}"
					filterMatchMode="in" width="200">
					<f:facet name="filter">
						<p:selectCheckboxMenu label="Abteilung auswählen" filter="true"
							filterMatchMode="contains"
							onchange="PF('projectIdeasTable').filter()"
							panelStyle="width:250px" scrollHeight="100">
							<f:selectItems value="#{projectOverviewPresenter.departments}"
								var="department" itemLabel="#{department.fullname}"
								itemValue="#{department.fullname}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{project.costUnit.fullname}" />
				</p:column>

				<p:column class="reverse-proj-prio-#{project.risk}"
					filterBy="#{project.getUrgencyAsEnum(project.risk).name}" headerText="Projektrisiko"
					visible="#{projectOverviewPresenter.showColumn[13]}"  exportable="false"
					sortBy="#{project.risk}" filterMatchMode="contains" width="120">
					<h:outputText
						value="#{projectOverviewPresenter.prio[project.risk].name}" />
				</p:column>

				<p:column filterBy="#{project.nameRecognitionIncrease}"
					headerText="Bekanntheitsgradsteigerung"  exportable="false"
					visible="#{projectOverviewPresenter.showColumn[14]}"
					sortBy="#{project.nameRecognitionIncrease}"
					filterMatchMode="contains" width="220">
					<h:outputText value="#{project.nameRecognitionIncrease} %" />
				</p:column>

				<p:column filterBy="#{project.imageGain}" headerText="Imagegewinn"
					visible="#{projectOverviewPresenter.showColumn[15]}"  exportable="false"
					sortBy="#{project.imageGain}" filterMatchMode="contains"
					width="200">
					<h:outputText value="#{project.imageGain} %" />
				</p:column>

				<p:column filterBy="#{project.actualCosts}" headerText="Kosten"
					visible="#{projectOverviewPresenter.showColumn[16]}"  exportable="false"
					sortBy="#{project.actualCosts}" filterMatchMode="contains"
					width="200">
					<h:outputText value="#{project.actualCosts} €" />
				</p:column>

				<p:column filterBy="#{project.avgProceedsPerYear}"
					headerText="Vorraussichtlicher Erlös/Jahr"   exportable="false"
					visible="#{projectOverviewPresenter.showColumn[17]}"
					sortBy="#{project.avgProceedsPerYear}" filterMatchMode="contains"
					width="200">
					<h:outputText value="#{project.avgProceedsPerYear} €" />
				</p:column>

				<p:column filterBy="#{project.useDuration}"
					headerText="Vorraussichtliche Nutzungsdauer"  exportable="false"
					visible="#{projectOverviewPresenter.showColumn[18]}"
					sortBy="#{project.useDuration}" filterMatchMode="contains"
					width="200">
					<h:outputText value="#{project.useDuration}" />
				</p:column>

				<p:column class="proj-prio-#{project.innovationStrategy}"
					filterBy="#{project.getUrgencyAsEnum(project.innovationStrategy).name}"
					headerText="Innovationsstrategie"  exportable="false"
					visible="#{projectOverviewPresenter.showColumn[19]}"
					sortBy="#{project.innovationStrategy}" filterMatchMode="contains"
					width="140">
					<h:outputText
						value="#{projectOverviewPresenter.prio[project.innovationStrategy].name}" />
				</p:column>

				<p:column class="proj-prio-#{project.timingStrategy}"  exportable="false"
					filterBy="#{project.getUrgencyAsEnum(project.timingStrategy).name}" headerText="Zeitstrategie"
					visible="#{projectOverviewPresenter.showColumn[20]}"
					sortBy="#{project.timingStrategy}" filterMatchMode="contains"
					width="120">
					<h:outputText
						value="#{projectOverviewPresenter.prio[project.timingStrategy].name}" />
				</p:column>

				<p:column class="proj-prio-#{project.pricingStrategy}"  exportable="false"
					filterBy="#{project.getUrgencyAsEnum(project.pricingStrategy).name}" headerText="Preisstrategie"
					visible="#{projectOverviewPresenter.showColumn[21]}"
					sortBy="#{project.pricingStrategy}" filterMatchMode="contains"
					width="120">
					<h:outputText
						value="#{projectOverviewPresenter.prio[project.pricingStrategy].name}" />
				</p:column>

				<p:column class="proj-prio-#{project.customerStrategy}"  exportable="false"
					filterBy="#{project.getUrgencyAsEnum(project.customerStrategy).name}" headerText="Kundenstrategie"
					visible="#{projectOverviewPresenter.showColumn[22]}"
					sortBy="#{project.customerStrategy}" filterMatchMode="contains"
					width="120">
					<h:outputText
						value="#{projectOverviewPresenter.prio[project.customerStrategy].name}" />
				</p:column>

				<p:column filterBy="#{project.objective}" headerText="Zielsetzung"
					visible="#{projectOverviewPresenter.showColumn[23]}"  exportable="false"
					sortBy="#{project.objective}" filterMatchMode="contains"
					width="200">
					<h:outputText value="#{project.objective}" />
				</p:column>

				<p:column filterBy="#{project.currentSituation}"
					headerText="Ausgangssituation"  exportable="false"
					visible="#{projectOverviewPresenter.showColumn[24]}"
					sortBy="#{project.currentSituation}" filterMatchMode="contains"
					width="200">
					<h:outputText value="#{project.currentSituation}" />
				</p:column>

				<p:column filterBy="#{project.benefit}" headerText="Projektnutzen"
					visible="#{projectOverviewPresenter.showColumn[25]}"  exportable="false"
					sortBy="#{project.benefit}" filterMatchMode="contains" width="200">
					<h:outputText value="#{project.benefit}" />
				</p:column>
				
				<p:column filterBy="#{project.npv}"
					headerText="NPV"  exportable="false"
					visible="#{projectOverviewPresenter.showColumn[26]}"
					sortBy="#{project.npv}" filterMatchMode="contains"
					width="200">
					<h:outputText value="#{project.npv}" />
				</p:column>
				
				<p:column filterBy="#{project.roi}"
					headerText="ROI"
					visible="#{projectOverviewPresenter.showColumn[27]}"
					sortBy="#{project.roi}" filterMatchMode="contains"
					width="200">
					<h:outputText value="#{project.roi}" />
				</p:column>
				
				<p:column filterBy="#{project.rating}"
					headerText="Bewertung"  exportable="false"
					visible="#{projectOverviewPresenter.showColumn[28]}"
					sortBy="#{project.rating}" filterMatchMode="contains"
					width="200">
					<h:outputText value="#{project.rating}" />
				</p:column>
				
				<p:column class="reverse-proj-prio-#{project.urgency}"
					filterBy="#{project.getUrgencyAsEnum(project.urgency).name}" headerText="Dringlichkeit"
					visible="#{projectOverviewPresenter.showColumn[29]}"
					sortBy="#{project.urgency}" filterMatchMode="contains" width="120">
					<h:outputText
						value="#{projectOverviewPresenter.prio[project.urgency].name}" />
				</p:column>

				<f:facet name="footer">
        			Insgesamt #{fn:length(projectOverviewPresenter.projects)} Projekte eingereicht.
    			</f:facet>
			</p:dataTable>
		</h:form>
	</ui:define>

</ui:composition>