<ui:composition template="/template/design.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
	<p:dialog id="spinner" widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    <p:graphicImage url="/resources/images/loader.gif" /></p:dialog>
		<h:form id="settingsForm">
		<p:breadCrumb styleClass="ui-state-default">
				<p:menuitem value="Mein Dashboard" outcome="/secure/home.xhtml" />
				<p:menuitem value="Einstellungen" outcome="settings" />
			</p:breadCrumb>
			<p:tabView id="settingsTab">
				<p:ajax event="tabChange"
					listener="#{settingsPresenter.onTabChange}" />
				<p:tab id="overview" title="Übersicht">
					<p:panelGrid columns="2" style="width:50%"
						styleClass="borderless-grid">
						<h:outputText value="Timing-Strategie:" />
						<h:outputText
							value="#{settingsPresenter.currentConfiguration.timingStrategy}" />
						<h:outputText value="Preis-Strategie:" />
						<h:outputText
							value=" #{settingsPresenter.currentConfiguration.pricingStrategy}" />
						<h:outputText value="Innovations-Strategie:" />
						<h:outputText
							value=" #{settingsPresenter.currentConfiguration.innovationStrategy}" />
						<h:outputText value="Kunden-Strategie:" />
						<h:outputText
							value=" #{settingsPresenter.currentConfiguration.customerStrategy}" />
						<h:outputText value="Ammortisation:" />
						<h:outputText
							value=" #{settingsPresenter.currentConfiguration.ammortizationTime}" />
						<h:outputText value="NPV:" />
						<h:outputText
							value=" #{settingsPresenter.currentConfiguration.npv}" />
						<h:outputText value="ROI: " />
						<h:outputText
							value="#{settingsPresenter.currentConfiguration.roi}" />
						<h:outputText value="Kosten: " />
						<h:outputText
							value="#{settingsPresenter.currentConfiguration.budget}" />
						<h:outputText value="Risiko:" />
						<h:outputText
							value=" #{settingsPresenter.currentConfiguration.risk}" />
						<h:outputText value="Dauer: " />
						<h:outputText
							value="#{settingsPresenter.currentConfiguration.duration}" />
						<h:outputText value="Jahresbudget: " />
						<h:outputText
							value="#{settingsPresenter.currentConfiguration.budgetForYear}" >
							<f:convertNumber type="currency"  />
							</h:outputText>
					</p:panelGrid>
				</p:tab>
				<p:tab id="editor" title="Editieren">
					<p:growl id="growl" showDetail="true" sticky="true" />
					<h:panelGrid columns="3" columnClasses="label, value">
						<h:outputText id="timingStrat"
							value="Timing-Strategie: #{settingsPresenter.currentConfiguration.timingStrategy}" />
						<p:slider for="timingStratHidden" minValue="0" maxValue="10"
							display="timingStrat" style="width: 200px"
							displayTemplate="Timing-Strategie: {value} " />
						<h:inputHidden id="timingStratHidden"
							value="#{settingsPresenter.currentConfiguration.timingStrategy}" />

						<h:outputText id="priceStrat"
							value="Preis-Strategie: #{settingsPresenter.currentConfiguration.pricingStrategy}" />
						<p:slider for="priceStratHidden" minValue="0" maxValue="10"
							display="priceStrat" style="width: 200px"
							displayTemplate="Preis-Strategie: {value} " />
						<h:inputHidden id="priceStratHidden"
							value="#{settingsPresenter.currentConfiguration.pricingStrategy}" />

						<h:outputText id="customerStrat"
							value="Kunden-Strategie: #{settingsPresenter.currentConfiguration.customerStrategy}" />
						<p:slider for="customerStratHidden" minValue="0" maxValue="10"
							display="customerStrat" style="width: 200px"
							displayTemplate="Kunden-Strategie: {value} " />
						<h:inputHidden id="customerStratHidden"
							value="#{settingsPresenter.currentConfiguration.customerStrategy}" />

						<h:outputText id="innovationStrat"
							value="Innovations-Strategie: #{settingsPresenter.currentConfiguration.innovationStrategy}" />
						<p:slider for="innovationStratHidden" minValue="0" maxValue="10"
							display="innovationStrat" style="width: 200px"
							displayTemplate="Innovations-Strategie: {value} " />
						<h:inputHidden id="innovationStratHidden"
							value="#{settingsPresenter.currentConfiguration.innovationStrategy}" />

						<h:outputText id="budget"
							value="Kosten: #{settingsPresenter.currentConfiguration.budget}" />
						<p:slider for="budgetHidden" minValue="0" maxValue="10"
							display="budget" style="width: 200px"
							displayTemplate="Kosten: {value} " />
						<h:inputHidden id="budgetHidden"
							value="#{settingsPresenter.currentConfiguration.budget}" />

						<h:outputText id="npv"
							value="NPV: #{settingsPresenter.currentConfiguration.npv}" />
						<p:slider for="npvHidden" minValue="0" maxValue="10" display="npv"
							style="width: 200px" displayTemplate="NPV: {value} " />
						<h:inputHidden id="npvHidden"
							value="#{settingsPresenter.currentConfiguration.npv}" />

						<h:outputText id="ammortization"
							value="Ammortisation: #{settingsPresenter.currentConfiguration.ammortizationTime}" />
						<p:slider for="ammortizationHidden" minValue="0" maxValue="10"
							display="ammortization" style="width: 200px"
							displayTemplate="Ammortisation: {value} " />
						<h:inputHidden id="ammortizationHidden"
							value="#{settingsPresenter.currentConfiguration.ammortizationTime}" />

						<h:outputText id="roi"
							value="ROI: #{settingsPresenter.currentConfiguration.roi}" />
						<p:slider for="roiHidden" minValue="0" maxValue="10" display="roi"
							style="width: 200px" displayTemplate="ROI: {value} " />
						<h:inputHidden id="roiHidden"
							value="#{settingsPresenter.currentConfiguration.roi}" />

						<h:outputText id="risk"
							value="Risiko: #{settingsPresenter.currentConfiguration.risk}" />
						<p:slider for="riskHidden" minValue="0" maxValue="10"
							display="risk" style="width: 200px"
							displayTemplate="Risiko: {value} " />
						<h:inputHidden id="riskHidden"
							value="#{settingsPresenter.currentConfiguration.risk}" />

						<h:outputText id="duration"
							value="Dauer: #{settingsPresenter.currentConfiguration.duration}" />
						<p:slider for="durationHidden" minValue="0" maxValue="10"
							display="duration" style="width: 200px"
							displayTemplate="Dauer: {value} " />
						<h:inputHidden id="durationHidden"
							value="#{settingsPresenter.currentConfiguration.duration}" />
						<h:outputText id="budgetForAYear" value="Jahresbudget:" />
						<p:inputNumber id="budgetForAYearInput" 
							value="#{settingsPresenter.currentConfiguration.budgetForYear}"
							required="true" symbol=" €" symbolPosition="s" decimalPlaces="0"
							decimalSeparator="," thousandSeparator="."/><div></div>
						<p:commandButton value="Speichern"
							actionListener="#{settingsPresenter.saveConfiguration}"
							update="growl" />
						<p:button value="Abbrechen" outcome="/secure/home" />
					</h:panelGrid>
				</p:tab>
			</p:tabView>
		</h:form>
	</ui:define>
</ui:composition>