<ui:composition template="/template/design.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
    <body style="background-color: black">
        <h:form>
       <center><h:outputLabel value="403" style="color:white; font-size:400px "/>
       <br />
       <h:outputText value="-Not authorized-" style="color:white"/>
        <br />
        <h:commandButton action="secure/home?faces-redirect=true" value="Zurück" />
        </center>
        
</h:form>
</body>
    </ui:define>
</ui:composition>