<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/template/design.xhtml">
	<ui:define name="content">
		<h:form>
			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />
		</h:form>
		<h:outputStylesheet library="css" name="login.css" />
		<h:panelGroup layout="block">
			<h:form>
				<h:panelGrid id="loginPanel">
					<h:outputLabel for="j_username" value="USERNAME" />
					<h:inputText styleClass="login-input" value="#{loginBean.loginId}" />
					<h:outputLabel for="j_password" value="PASSWORD" />
					<h:inputSecret styleClass="login-input"
						value="#{loginBean.loginPass}" />
					<h:panelGroup>
						<h:commandButton styleClass="login-button"
							action="#{loginBean.login()}" value="Login" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</h:panelGroup>
	</ui:define>

</ui:composition>


