.background {
	background-color: #FAAC58;
}

#footer {
	width: 100%;
	height: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
}

#wrapper {
	min-height:100%;
	position:relative;	
}


.insideBubbleValue {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	padding-top: 40%;
}

.bold {
	font-weight: bold;
}

.float-left {
	float: left;
}

#content {
	padding-bottom: 2em;
}

.bubble {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.veryLow-bubble {
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, GreenYellow 0%, green 100%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, GreenYellow, green);
	background-image: radial-gradient(45px 45px 45deg, circle cover, GreenYellow 0%, green 100%);
}


.low-bubble {

	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, YellowGreen 100%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, YellowGreen);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, YellowGreen 100%);
}

.mid-bubble {
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #ffff66 0%, green 100%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #ffff66, yellow);
	background-image: radial-gradient(45px 45px 45deg, circle cover, #ffff66 0%, green 100%);	
}


.high-bubble {
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%);
}

.veryHigh-bubble {
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, orange 0%, red 100%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, orange, red);
	background-image: radial-gradient(45px 45px 45deg, circle cover, orange 0%, red 100%);
}

.dropdown {
	width: 150px !important;
}

.companyHeaderGrid.ui-panelgrid>*>tr,
.companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
    }
    
.reverse-proj-prio-0 {
	background-color: #38D615;
    color: white;
}



.reverse-proj-prio-1 {
	background-color: #4CAF50;
    color: white;
}

.reverse-proj-prio-2 {
	background-color: #E3F91D;
    color: black;
}

.reverse-proj-prio-3 {
	background-color: #E43737;
    color: white;
}

.reverse-proj-prio-4 {
	background-color: #FF0000;
    color: white;
}

.proj-prio-0 {
	background-color: #FF0000;
    color: white;
}
    
.full-width {
	width: 100%;
}




.proj-prio-1 {
	background-color:#E43737;
    color: white;
}

.proj-prio-2 {
	background-color: #E3F91D;
    color: black;
}

.proj-prio-3 {
	background-color:#4CAF50 ;  
    color: white;
    }
    
.borderless-grid td,
.borderless-grid tr {
	border: none !important;
}



.proj-prio-4 {
	background-color: #38D615;  
    color: white;
}

.noBorder{
	border: none !important;
	
}

.noUnderline{
	text-decoration: none;
}

.bodySize{
	position: relative;
    min-height: 100%;
    margin: 0 auto;
    height: 100%;
}

.dashBoardWidget{
	background: #F5D0A9;
}

.ui-breadcrumb{
	border: none !important;
	background: none !important;
}

.ui-breadcrumb li a {
	font-size: 15px;
	color: black;
}

.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.inputFields{
	width: 330px;
}

span>.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all{
	width: 330px;
}

span>.ui-autocomplete-input.ui-inputfield.ui-widget.ui-state-default.ui-corner-all{
	width: 330px;
}

.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all.inputFields {
	width: 300px;
}

span>.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker {
	width: 330px;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-list-wrapper {
    width: 45% !important;
    height: 100% !important;
}

.ui-picklist .ui-picklist-buttons {
    vertical-align: middle !important;
}


.onlyforpaneluse .ui-panel-content .ui-widget-content{
	
    height: 700px !important;
}

.onlyforpaneluse {
	
}

.noBudgetDialog {
	height: 100px !important;
}