@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#content {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

table {
	position: relative;
	z-index: 1;
	background: #ffbf80;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.login-input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
}

.login-button {
	text-transform: uppercase;
	color: #FFFFFF;
	outline: 0;
	background: #ff8000;
	width: 100%;
	border: 0;
	padding: 15px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.login-button:hover, .login-button:active, .login-button:focus {
	background: #ffa64d;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #f2f2f2 inset !important;
}